/* CSS del index */

#calculadora {
    width: 40rem;
    height: 70rem;
    border: 10px solid black;
    border-radius: 15px;

    margin: auto;
    margin-top: 10rem;
    background-color: rgba(127, 255, 212, 0.662)


}